:root{
  --doable: rgb(40,140,40);
  --notdoable: rgb(75, 75, 75);
  --blackground: #282c34;
  --offWhite: rgb(240,240,240);
}
.App {
  text-align: center;
}

.App-header {
  background-color: var(--blackground);
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--offWhite);
}


.calendar_calendarBox{
  display:grid;
  grid-template-columns: repeat(7, 12%);
  grid-template-rows: 50px 30px;
  grid-auto-rows: 40px;
  min-width: 330px;
  max-width: 600px;
  width:70%;
  margin: 0 auto;
  justify-content: space-between;
  text-align: center;

}
.calendar_monthTitle{
  grid-column: span 7;
  background: var(--blackground);
  color: var(--offWhite);
  padding-bottom: 5px;
  font-size: 2rem;
}
.day_dayButton{
  border-radius: 100%;
  border: 2px solid var(--notdoable);
  color: var(--notdoable);
  height: 90%;
  width: 90%;
  font-size: 0.95rem;
  

}
.day_dayBox{
  margin: 0 auto;
  width: 40px;
  height: 100%;
}

.day_doable{
  background: green;
}