:root{
  --doable: rgba(0, 199, 66, 0.5);
  --notdoable: rgba(0, 0, 0, 0.2);
  --blackground: #282c34;
  --offWhite: rgb(224, 224, 224);
  --fadedWhite: rgba(224, 224, 224, 0.5);
  --semiTransparent: rgba(0, 0, 0, 0.1);
  --notVeryTransparent: rgba(0,0,0,0.3);
  font-size: calc(10px + 2vmin);
}

body{
color: var(--offWhite);
background-image: linear-gradient(to bottom, #09203f 0%, #537895 100%);
font-family: Arial, Helvetica, sans-serif;
font-weight: 100;
}

.small_text{
  font-size: 0.8rem;
  line-height: 0;
}
.App {
  text-align: center;
  min-height: 100vh;
}

.App-header {
  background: var(--notVeryTransparent); 
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.landing_section{
  font-size: 1.3rem;
}
.landing_input{
  background: var(--semiTransparent);
  border: 0px;
  font-size: 1.6rem;
  text-align: center;
  min-width: 60px;
  margin: 10px;
  border: 1px solid var(--offWhite);
  color: var(--offWhite);
}

.landing_button {
  background: var(--semiTransparent);
  color: var(--offWhite);
  border: 1px solid var(--offWhite);
  font-size: 1rem;
  padding: 10px;
  margin-right: 50px;
}


.app_inverseButton {
  background: var(--semiTransparent);
  border: 1px solid var(--offWhite);
  font-size: 0.8rem;
  padding: 10px;
  color: var(--offWhite);
  text-transform: uppercase;
  transition: all 0.5s;
}

.app_inverseButton:hover {
  background: var(--offWhite);
  color: var(--blackground);
  transition: all 0.5s;
}


.calendar_calendarBox{
  color: var(--fadedWhite);
  display:grid;
  grid-template-columns: repeat(7, 12%);
  grid-template-rows: 50px 30px;
  grid-auto-rows: 40px;
  min-width: 330px;
  max-width: 600px;
  width:70%;
  margin: 0 auto;
  justify-content: space-between;
  text-align: center;
  text-transform: lowercase;
  border: 1px solid var(--fadedWhite);
  margin-bottom: 50px;
}
.calendar_monthTitle{
  grid-column: span 7;
  background: var(--semiTransparent);
  color: var(--fadedWhite);
  padding: 5px;
  font-size: 1.3rem;
}
.day_dayBox {
  margin: 0 auto;
  width: 40px;
  height: 100%;
}
.day_dayButton{
  border-radius: 100%;
  background: var(--semiTransparent);
  border: 2px solid var(--fadedWhite);
  color: var(--offWhite);
  height: 90%;
  width: 90%;
  font-size: 0.7rem;
  transition: all 0.5s;
}
.day_doable{
  transition: all 0.5s;
  background: var(--doable);
  color: var(--offWhite);
  border: 2px solid var(--offWhite);
}